# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
.venv/
venv/
*.egg-info/
dist/

# Secrets & Environment
.env
*.env
.env.*

# macOS
.DS_Store
*.swp

# Databases
*.sqlite3
*.db

# Flutter / Dart
flutter/fbla_connect_app/build/
flutter/fbla_connect_app/.dart_tool/
flutter/fbla_connect_app/.flutter-plugins
flutter/fbla_connect_app/.flutter-plugins-dependencies
*.g.dart
.pub-cache/
pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/

# Android
android/.gradle/
android/app/build/

# IDE
*.iml
.idea/
